<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'docs_work/flatpages/default.html' %}
 
{% block title %}
   <b>Все объявления</b><br>
{% endblock title %}

{% block content %}
   <br>
   <style> div { line-height: 1; } </style>   
   {% for post in post_list %}
     <div align="left">             
     <b> {{ post.time_in|date:'Y-m-d  H:m:s' }} | </b> {{ post.title }}<br> 
     <b> Автор:</b> {{ post.user }}<br>             
     <a href='{{post.pk}}'> Посмотреть>></a> &nbsp; &nbsp; &nbsp;
      {% if post.user_id ==  request.user.pk %}
         <a href='post_update/{{post.pk}}'> Редактировать>></a> &nbsp; &nbsp; &nbsp;         
      {% else %}         
         <a href='comment_create/{{post.pk}}'> Послать отклик>></a> 
      {% endif %}       
     </div><br>
   {% endfor %}
   

   {# Добавляем пагинацию на страницу #}   
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {# Информация о текущей странице #}
   {{ page_obj.number }}      
   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
 
{% endblock content %}
