<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load my_tags %}

{% block title %}
   <a href='/news/news/create'> Создать новость>></a> <br><br>
   <b>Выберите документ для обновления/удаления новости</b><br><br>
{% endblock title %}

{% block content %}

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       (формат даты ГГГГ-ММ-ДД)<br><br> 
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form><br>

   <style> div { line-height: 1; } </style>   
   {% for post in news_edit %}
     {% if post.kind == 'NEW' %}
     <div align="left"> <b>
        {{ post.time_in|date:'Y-m-d  H:m:s' }} | </b> {{ post.title }}<br> <b>
        Автор: </b>
        {{post.author.user.first_name}} {{post.author.user.last_name}} <br>
        
<!--        {{post.kind}}<br> -->
        
     <a href='/news/{{post.pk}}'> Посмотреть>></a> | 
     <a href='/news/news/{{post.pk}}/update'> Обновить>></a> | 
     <a href='/news/news/{{post.pk}}/delete'> Удалить>></a>
     </div><br>
     {% endif %}
   {% endfor %}
   

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

